<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
    <label>
        Nome:
        <input type="text" formControlName="firstName">

        <span *ngIf=
            "cadastroForm.get('firstName')?.errors 
            && 
            (cadastroForm.get('firstName')?.touched || cadastroForm.get('firstName')?.dirty)">
            Favor adicionar um nome.
        </span>
    </label>

    <br>
    <br>

    <label>
        Sobrenome;
        <input type="text" formControlName="lastName">
    </label>

    <p>
        <!-- O ? serve para válidar se o campo existe ou não -->
        {{ cadastroForm.get('firstName')?.errors | json }}
        {{ cadastroForm.get('firstName')?.touched | json }}
        {{ cadastroForm.get('firstName')?.dirty | json }}
    </p>

    <button>Enviar</button>
</form>